<a class="logo box-block color-white weight-bold" href="/">GoutPal's Gout Library <img src="/images/goutpal-info-site-logo-white.webp" alt="Gouty Arthritis Science"  width="600" height="130" style="float:right">
</a>
